@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: 255, 255, 255;
  --primary-varient: 200, 200, 200;
  --secondry: 100, 100, 100;
  --secondry-varient: 0, 0, 0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --primary: 0, 0, 0;
    --primary-varient: 100, 100, 100;
    --secondry: 200, 200, 200;
    --secondry-varient: 255, 255, 255;
  }
}

body {
  color: rgb(var(--primary));
  background: rgb(var(--secondry-varient));
}
